/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Lobster);
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover 
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Apply a natural box layout model to all elements: http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.chromeframe {
  position: absolute;
  top: 0; }

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* A Linux- and Windows-friendly sans-serif font stack: http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack */
body {
  font: 13px Helmet, Freesans, sans-serif; }

/* Using local fonts? Check out Font Squirrel's webfont generator: http://www.fontsquirrel.com/tools/webfont-generator */
/* We like off-black for text. */
body, select, input, textarea {
  color: #333; }

a {
  color: #03f; }

a:hover {
  color: #69f; }

/* Custom text-selection colors (remove any text shadows: http://twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

/*	j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Mozilla dosen't style place holders by default */
input:-moz-placeholder {
  color: #a9a9a9; }

textarea:-moz-placeholder {
  color: #a9a9a9; }

.bg {
  -webkit-background-size: 100px;
  -webkit-animation-name: masked-animation;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-background-size: 100px;
  -moz-animation-name: masked-animation;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  background-image: -webkit-linear-gradient(left, #dbef79 0%, #db25a6 25%, #12d6f9 50%, #f912b5 75%, #f91212 100%);
  background-image: -moz-linear-gradient(left, #dbef79 0%, #db25a6 25%, #12d6f9 50%, #f912b5 75%, #f91212 100%); }

@-webkit-keyframes masked-animation {
  0% {
    background-position: left bottom; }

  100% {
    background-position: right bottom; } }
@-moz-keyframes masked-animation {
  0% {
    background-position: left bottom; }

  100% {
    background-position: right bottom; } }
@keyframes masked-animation {
  0% {
    background-position: left bottom; }

  100% {
    background-position: right bottom; } }
.container {
  margin: 20px auto 0px auto;
  width: 80%;
  margin: 0 auto;
  text-align: center; }
  .container img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-bottom: 10px; }

input {
  border: 1px solid #13205d;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 #465bbf;
  color: white;
  display: inline-block;
  font-size: inherit;
  font-weight: bold;
  background-color: #283a90;
  background-image: -webkit-linear-gradient(#283a90, #16256a);
  background-image: linear-gradient(#283a90, #16256a);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0d194f;
  background-clip: padding-box;
  font: 1.6em "Lobster", cursive; }
  input:hover:not(:disabled) {
    box-shadow: inset 0 1px 0 0 #35479d;
    cursor: pointer;
    background-color: #263479;
    background-image: -webkit-linear-gradient(#263479, #14215d);
    background-image: linear-gradient(#263479, #14215d); }
  input:active:not(:disabled) {
    border: 1px solid #13205d;
    box-shadow: inset 0 0 8px 4px #121c50, inset 0 0 8px 4px #121c50, 0 1px 1px 0 #eeeeee; }
  input:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

h1 {
  color: #fff;
  text-shadow: 2px 3px 3px #363636;
  font: 1.5em 'Lobster', cursive;
  margin-top: 5px; }

h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 2px 3px 3px #363636;
  font: 3.5em/1.1em 'Lobster', cursive;
  margin-bottom: 10px; }

h3 {
  text-align: center;
  color: #fff;
  text-shadow: 2px 3px 3px #363636;
  font: 1.3em/1.3em 'Lobster', cursive;
  margin-top: 5px; }

p {
  color: #686868;
  font: 1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  margin-bottom: 5px; }

/* for 480px or less */
@media screen and (max-width: 480px) {
  h2 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 3px 3px #363636;
    font: 2.3em/45px "Lobster", cursive; } }
